# Welcome to Jekyll!
#
# 这里是主配置文件，本地调试时不支持直接热更新，必须手动更新或者启用一个检视的依赖（检视代码变化并执行相关指令脚本达到热更新效果）

# Theme Settings
#
# 这里是非fork版本的教程
# https://mmistakes.github.io/minimal-mistakes/docs/quick-start-guide/#installing-the-theme

# 非fork版本才需要
# theme                  : "minimal-mistakes-jekyll"
# remote_theme           : "mmistakes/minimal-mistakes"


# 决定网站各页面背景风格（颜色）："air", "aqua", "contrast", "dark", "dirt", "neon", "mint", "plum", "sunrise"
# 预览：https://mmistakes.github.io/minimal-mistakes/docs/configuration/#theme
minimal_mistakes_skin    : "default" 

# Site Settings

# 语言
# 参考目录：https://learn.microsoft.com/en-us/previous-versions/commerce-server/ee825488(v=cs.20)?redirectedfrom=MSDN
locale                   : "en-US"

# Site title
# 其中很多键都可以在发行新页面的时候重写
rtl                      : # 跟随希伯来语等RTL语言转换页面方向，默认为false
title                    : "Lihong Qiao" # 网站标题 
title_separator          : "-" # 网站名称内部分隔符
subtitle                 : # 子标题（默认无）
name                     : "Lihong Qiao"
description              : "重庆邮电大学 副教授 硕士生导师"
url                      : https://qiaolh.cn
baseurl                  : / # 主页面
repository               : "tobegold574/MM-demo.github.io"
teaser                   : # 发布的帖子的简介照片
logo                     : # logo，显示网站名称旁边
breadcrumbs              : # 帮助读者理清帖子的从属关系（默认为flase），如果不发帖子就不用
words_per_minute         : 160 # 预设阅读时间
enable_copy_code_button  : # 是否为代码提供一键复制功能


# 评论系统，多个服务可选（现在关闭）
comments:
  provider               : # false (default), "disqus", "discourse", "facebook", "staticman", "staticman_v2", "utterances", "giscus", "custom"
  disqus:
    shortname            : # https://help.disqus.com/customer/portal/articles/466208-what-s-a-shortname-
  discourse:
    server               : # https://meta.discourse.org/t/embedding-discourse-comments-via-javascript/31963 , e.g.: meta.discourse.org
  facebook:
    # https://developers.facebook.com/docs/plugins/comments
    appid                :
    num_posts            : # 5 (default)
    colorscheme          : # "light" (default), "dark"
  utterances:
    theme                : # "github-light" (default), "github-dark"
    issue_term           : # "pathname" (default)
  giscus:
    repo_id              : # Shown during giscus setup at https://giscus.app
    category_name        : # Full text name of the category
    category_id          : # Shown during giscus setup at https://giscus.app
    discussion_term      : # "pathname" (default), "url", "title", "og:title"
    reactions_enabled    : # '1' for enabled (default), '0' for disabled
    theme                : # "light" (default), "dark", "dark_dimmed", "transparent_dark", "preferred_color_scheme"
    strict               : # 1 for enabled, 0 for disabled (default)
    input_position       : # "top", "bottom" # The comment input box will be placed above or below the comments
    emit_metadata        : # 1 for enabled, 0 for disabled (default) # https://github.com/giscus/giscus/blob/main/ADVANCED-USAGE.md#imetadatamessage
    lang                 : # "en" (default)
    lazy                 : # true, false # Loading of the comments will be deferred until the user scrolls near the comments container.
  staticman:
    branch               : # "master"
    endpoint             : # "https://{your Staticman v3 API}/v3/entry/github/"

# 防恶意脚本，人工智能判定API（选图片什么的），需申请
reCaptcha:
  siteKey                :
  secret                 :

# 读者订阅服务（博客）
atom_feed:
  path                   : # blank (default) uses feed.xml
  hide                   : # true, false (default)

# 是否支持搜索
search                   : # 默认为false
search_full_content      : # 默认为false
search_provider          : # 默认由lunr提供服务
lunr:
  search_within_pages    : # 是否检索所有页面
algolia:
  application_id         : # YOUR_APPLICATION_ID
  index_name             : # YOUR_INDEX_NAME
  search_only_api_key    : # YOUR_SEARCH_ONLY_API_KEY
  powered_by             : # true (default), false
google:
  search_engine_id       : # YOUR_SEARCH_ENGINE_ID
  instant_search         : # false (default), true

# SEO优化 
google_site_verification :
bing_site_verification   :
naver_site_verification  :
yandex_site_verification :
baidu_site_verification  :

# 社媒
twitter:
  username               :
facebook:
  username               :
  app_id                 :
  publisher              :
og_image                 : # 博客文章缺乏标题图片时的默认后备图片
# For specifying social profiles
# - https://developers.google.com/structured-data/customize/social-profiles
social:
  type                   : # Person or Organization (defaults to Person)
  name                   : # If the user or organization name differs from the site's name
  links: # An array of links to social media profiles

# 用于分析网站访问情况
analytics:
  provider               : # 默认关闭，有多个服务可选："google", "google-universal", "google-gtag", "custom"
  google:
    tracking_id          :
    anonymize_ip         : # true, false (default)


# 网站作者相关
author:
  name             : "乔丽红（Lihong Qiao）"
  avatar           : "assets/images/头像.png"
  bio              : "副教授 硕士生导师"
  location         : "重庆邮电大学"
  email            : qiaolh@cqupt.edu.cn
  links:
    - label: "Phone"
      icon: "fas fa-fw fa-phone"
      url: "tel:+8618623717036"
    # - label: "Website"
    #   icon: "fas fa-fw fa-link"
    #   # url: "https://your-website.com"
    # - label: "Twitter"
    #   icon: "fab fa-fw fa-twitter-square"
    #   # url: "https://twitter.com/"
    # - label: "Facebook"
    #   icon: "fab fa-fw fa-facebook-square"
    #   # url: "https://facebook.com/"
    # - label: "GitHub"
    #   icon: "fab fa-fw fa-github"
    #   # url: "https://github.com/"
    # - label: "Instagram"
    #   icon: "fab fa-fw fa-instagram"
    #   # url: "https://instagram.com/"

# 网站页脚
footer:
  # links:
  #   - label: "Twitter"
  #     icon: "fab fa-fw fa-twitter-square"
  #     # url:
  #   - label: "Facebook"
  #     icon: "fab fa-fw fa-facebook-square"
  #     # url:
  #   - label: "GitHub"
  #     icon: "fab fa-fw fa-github"
  #     # url:
  #   - label: "GitLab"
  #     icon: "fab fa-fw fa-gitlab"
  #     # url:
  #   - label: "Bitbucket"
  #     icon: "fab fa-fw fa-bitbucket"
  #     # url:
  #   - label: "Instagram"
  #     icon: "fab fa-fw fa-instagram"
  #     # url:


# Reading Files
include:
  - .htaccess
  - _pages
exclude:
  - "*.sublime-project"
  - "*.sublime-workspace"
  - vendor
  - .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - assets/js/plugins
  - assets/js/_main.js
  - assets/js/vendor
  - Capfile
  - CHANGELOG
  - config
  - Gemfile
  - Gruntfile.js
  - gulpfile.js
  - LICENSE
  - log
  - node_modules
  - package.json
  - package-lock.json
  - Rakefile
  - README
  - tmp
  - /docs # ignore Minimal Mistakes /docs
  - /test # ignore Minimal Mistakes /test
keep_files:
  - .git
  - .svn
encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"


# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false


# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false


# Sass/SCSS
sass:
  sass_dir: _sass
  style: compressed # https://sass-lang.com/documentation/file.SASS_REFERENCE.html#output_style


# Outputting
permalink: /:categories/:title/
timezone: # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones


# Pagination with jekyll-paginate
paginate: 5 # amount of posts to show
paginate_path: /page:num/

# Pagination with jekyll-paginate-v2
# See https://github.com/sverrirs/jekyll-paginate-v2/blob/master/README-GENERATOR.md#site-configuration
#   for configuration details
pagination:
  # Set enabled to true to use paginate v2
  # enabled: true
  debug: false
  collection: 'posts'
  per_page: 10
  permalink: '/page/:num/'
  title: ':title - page :num'
  limit: 0
  sort_field: 'date'
  sort_reverse: true
  category: 'posts'
  tag: ''
  locale: ''
  trail:
    before: 2
    after: 2


# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jekyll-include-cache

# mimic GitHub Pages with --safe
whitelist:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jekyll-include-cache


# Archives
#  Type
#  - GitHub Pages compatible archive pages built with Liquid ~> type: liquid (default)
#  - Jekyll Archives plugin archive pages ~> type: jekyll-archives
#  Path (examples)
#  - Archive page should exist at path when using Liquid method or you can
#    expect broken links (especially with breadcrumbs enabled)
#  - <base_path>/tags/my-awesome-tag/index.html ~> path: /tags/
#  - <base_path>/categories/my-awesome-category/index.html ~> path: /categories/
#  - <base_path>/my-awesome-category/index.html ~> path: /
category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/
# https://github.com/jekyll/jekyll-archives
# jekyll-archives:
#   enabled:
#     - categories
#     - tags
#   layouts:
#     category: archive-taxonomy
#     tag: archive-taxonomy
#   permalinks:
#     category: /categories/:name/
#     tag: /tags/:name/


# HTML压缩配置
compress_html:
  clippings: all        # 对所有文件都压缩
  ignore:
    envs: development   # 开发环境不压缩


# Defaults
defaults:
  # 配置pages的front matter，如需自定义可直接在md文件中重写覆盖
  - scope:
      path: ""      # 适用于所有_pages文件夹中的文件
      type: pages   # 应用于_pages文件夹
    values:
      layout: single
      author_profile: true
      read_time: true
      share: false
      related: true
